# Virtual environment
.venv/
venv/
cik_chunks/
pending_chunks/
# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Jupyter / IPython
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
